---
layout: default
title: Installation methods for GitLab
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
---
.wrapper
  .installation-header
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .installation-content
        %h1 GitLab Installation
        %h2
          Below are all the options to create a GitLab installation. If you're not sure which method
          to choose, please use the Omnibus package installation.

  #content
    .wrapper.container{role: "main"}
      .method.omnibus
        - distros = ['Ubuntu', 'Debian', 'CentOS', 'OpenSUSE', 'Raspberry Pi 2']
        - platforms = ['ubuntu1604', 'debian8', 'centos7', 'opensuse421', 'raspberrypi2']
        - icons = ['ubuntu', 'debian', 'centos', 'opensuse', 'raspberry-pi']
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus package installation (recommended)
          %p
            GitLab recommends having at least 2GB of swap on your server, even if you currently have
            enough available RAM. Having swap will help reduce the chance of errors occuring
            if your available memory changes.
          %ul.flex-tile-list
            - distros.each_with_index do |distro, index|
              - platform = data.platforms.select {|p| p.name == platforms[index]}
              %li.distro-tile{ class: "distro-tile-#{index + 1}" }
                %a.js-distro-tile{ href: "##{distro.parameterize}" }
                  .tile-image
                    = partial "/images/logos/#{icons[index]}-logo.svg"
                  %span.tile-title
                    = distro
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.parameterize }
                - platform.each do |platform|
                  = partial "_platform", locals: { platform: platform, type: "ee" }

      .method.official
        .method-content
          %h2.block-title Other official installation methods
          %ul.flex-tile-list
            - data.installation_methods.official.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc

      .method
        .method-content
          %h2.block-title Community contributed
          %ul.flex-tile-list
            - data.installation_methods.community.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc

      .method
        .method-content
          %h2.block-title Third-party applications that support GitLab
          %ul
            %li
              %p.text-center
                %a.btn.btn-red.cta-btn{href: "/applications"}
                  View third-party applications
