---
layout: comparison_page
trial_bar: true
suppress_header: true
title: GitLab EE Starter vs GitLab EE Premium | GitLab compared to other tools
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.comparisons.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.comparisons.comparisons.gitlab_ees_vs_gitlab_eep, product_one: competitors.gitlab_ees, product_two: competitors.gitlab_eep, key_one: :gitlab_ees, key_two: :gitlab_eep }

.content-container.explore-product-roadmap.text-center
  .container
    %h1.page-headline.cta
      View the GitLab EE Premium Product Roadmap
    %a.btn.btn-lg.btn-red.btn-margin-top{ href: "/direction/#premium-features" }
      Read more
