---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab EE vs GitLab CE | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.comparisons.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.comparisons.comparisons.gitlab_ce_vs_gitlab_ee, product_one: competitors.gitlab_ce, product_two: competitors.gitlab_ees, key_one: :gitlab_ce, key_two: :gitlab_ees }
